@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap'); 

.name-text  {
    text-align: center;
    font-size: 40px;
    font-family: "optima";
    font-weight: bold;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 15%;
    margin-top: 10px;
}